.page-title {
  margin-left: 5vw;
  margin-top: 5vh;
  p {
    margin-bottom: 16px !important;
  }
}

.container {
  margin: 5vw 5vh;
  display: flex;
}

.grid-item {
  display: flex;
}

.muted-text {
  color: #888;
}

a {
  color: #000 !important;
}
