<div class="page-title">
  <p class="mat-display-1" *ngIf="movie">
    <mat-icon color="primary" inline="true">whatshot</mat-icon>
    {{ movie.movieTitle }}
    <span class="mat-title">({{ movie.releaseDate | date : 'yyyy' }})</span>
  </p>
</div>
<mat-divider></mat-divider>
<div class="container">
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid">
    <div class="grid-item" *ngIf="movie" fxFlex.gt-xs="100%" fxFlex.gt-sm="60%">
      <mat-card >
        <mat-card-header>
          <mat-card-title>
            {{ movie.movieTitle }} ({{ movie.releaseDate | date : 'yyyy' }})
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
          <img class="cover" src="{{movie.cover}}" alt="{{movie.movieTitle}}">
          <div>
            <p>Duración: {{ movie.duration }} minutos</p>
            <p class="muted-text"> {{ movie.movieAbstract }} </p>
            <mat-chip-list>
              <mat-chip *ngFor="let genre of genres" color="primary" selected>{{genre}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="people" fxFlex.gt-xs="60%" fxFlex.gt-sm="40%">
      <mat-card>
        <mat-card-content fxLayout="row">
          <div fxFlex>
            <mat-card-subtitle> Director(es) </mat-card-subtitle>
            <p *ngFor="let director of people.directors">{{director}}</p>
          </div>
          <div fxFlex>
            <mat-card-subtitle> Actores </mat-card-subtitle>
            <p *ngFor="let actor of people.actors">{{actor}}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="reviews" fxLayout="column" fxLayoutGap="16px">
      <p class="mat-subheading-2">Reseñas</p>
      <div *ngFor="let review of reviews" fxFlex>
        <mat-card>
          <mat-card-content>
            <div fxLayout="row">
              <p class="username"> {{ review.userName }}</p>
              <p class="rating">
                <mat-icon inline="true" *ngFor="let i of stars(review.rating)">star</mat-icon>
                <mat-icon inline="true" *ngFor="let i of stars(5-review.rating)">star_border</mat-icon> </p>
            </div>
            <p class="muted-text"> {{ review.reviewContent }} </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div fxFlex>
      <mat-card class="review-card">
        <p class="mat-subheading-2">Deja tu reseña</p>
        <mat-card-content fxLayout="column">
          <mat-form-field fxFlex>
            <textarea matInput maxlength="500" rows="5" [(ngModel)]="content"></textarea>
          </mat-form-field>

        </mat-card-content>
        <div fxLayout="row">
          <span class="flex-spacer"></span>
          <p>Calificación:</p>
          <mat-slider fxFlex="20%" min="0" max="5" step="1" value="3" [(ngModel)]="rating"></mat-slider>
          <button color="primary" mat-button (click)="sendReview()">Enviar</button>
        </div>
      </mat-card>
    </div>

  </div>
</div>
