.page-title {
  margin-left: 5vw;
  margin-top: 5vh;
  p {
    margin-bottom: 16px !important;
  }
}

.container {
  margin: 5vw 5vh;
  display: flex;
}

.grid-item {
  display: flex;
}

.cover {
  width: 215px;
  height: 290px;
  padding: 8px 32px 8px 8px;
}

@mixin text-theme($theme) {
  $primary: map-get($theme, primary);
  .username {
    font-size: 1.1em;
    color: mat-color($primary);
    margin-right: 16px;
  }
}

.rating {
  color: #ffd700;
}

.muted-text {
  color: #777;
  text-align: justify;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
}

.review-card {
  padding: 16px 32px;
}
