.page-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

mat-toolbar {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2 !important;
  top: 0;
}

.header-img {
  width: 135px;
  margin-left: 15px;
}

mat-sidenav-container {
  flex-grow: 1;

  mat-sidenav {
    width: 60%;
    max-width: 400px;
  }

  mat-icon {
    padding-right: 15px;
  }
}

.active {
  background: #03a2eA !important;
}
